<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="flex justify-between w-400 mx-auto mt-7 items-center pb-5 border-b-3 mb-10">
        <h1 class="text-3xl font-bold">Welcome {{user.fname}} to Developers Dashboard</h1>
        <form action="/dashboard/logout" method="post">
            {% csrf_token %}
            <input type="submit" value="logout" class="underline text-[1.2em] text-blue-500">
        </form>
    </div>
    <a href="/createproject" class="ml-37 px-3 py-3 w-20 h-10 border rounded-2xl shadow-[2px_2px_2px_rgb(0,0,0)]">Create
        Project + </a>
    <div class="h-180 mt-5 mr-40 overflow-y-auto w-300 mx-auto">
        <table class="border">
            <tr class="border">
                <th class="border px-10 bg-gray-300">ID</th>
                <th class="border px-20 bg-gray-300">Project Name</th>
                <th class="border px-20 bg-gray-300">Project Owner</th>
                <th class="border px-15 bg-gray-300">Action</th>
            </tr>
            {% for project in projects %}
            <tr class="border odd:bg-gray-200">
                <td class="border py-2 font-bold pl-1">{{project.id}}</td>
                <td class="border py-2 font-bold pl-1"><a href="/project/{{project.id}}/details" class="text-blue-500">{{project.title}}</a></td>
                <td class="border py-2 font-bold pl-1"><p>{{project.creator.fname}} {{project.creator.lname}}</p></td>
                <td class="border py-2 font-bold text-blue-700 underline pl-1">
                    {% if user.id == project.creator.id %}
                    <form action="/dashboard/deleate" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{project.id}}">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="submit" value="Delete" class="border rounded-2xl px-4 bg-[#B5A7D1]">
                    </form>
                    {% elif user not in project.users.all %}
                    <form action="/dashboard/Join" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{project.id}}">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="submit" value="Join + " class="border rounded-2xl px-4 bg-[#B5A7D1]">
                    </form>
                    {% else %}
                    <form action="/dashboard/separate" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{project.id}}">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="submit" value="Separate - " class="border rounded-2xl px-4 bg-[#B5A7D1]">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>